<template>
    <div>
        <nuxt-link :to="'/folder/' + crumb.id" class="mx-1" :class="{'text-blue-600':!isLast}">{{name}}</nuxt-link>
        <font-awesome-icon v-if="!isLast" icon="chevron-right" class="text-gray-700 mx-1" size="sm"/>
    </div>
</template>

<script>
export default {
    name: 'BreadCrumb',
    props: {
        crumb: Object,
        isLast: Boolean
    },
    computed: {
        name: function(){
            return this.crumb.name || "Files"
        }
    }
}
</script>