<template>
    <div class="flex start text-xl font-thin m-6">
        <bread-crumb v-for="(crumb, index) in path" :crumb="crumb" :isLast="(index+1) === path.length" :key="crumb.id"/>
    </div>
</template>

<script>
import {mapState} from 'vuex'
import BreadCrumb from '~/components/BreadCrumb'

export default {
    name: 'BreadCrumbContainer',
    components:{
        'bread-crumb': BreadCrumb
    },
    computed: {
        ...mapState(['directory', 'currentDirectory']),
        path: function(){
            let {path} = this.currentDirectory
            if(!path){
                return []
            }
            let arr = path.split('/')
            const newArr = []
            const pathsArry = []
            //Construct new paths array
            for( let i = 0 ; i < arr.length ; i++){
                if( newArr.length){
                    var start = newArr[newArr.length-1] + '/'
                }else{
                    var start = ''
                }
                let segment =  start + arr[i]
                
                //Lookup directory info saved in store
                let directoryLookup = this.directory[segment]
                newArr.push(segment)
                if( directoryLookup ){
                    pathsArry.push(directoryLookup)
                }
            }
            return pathsArry
        }      
    }
}
</script>