<template>
    <button @click="navigate()"  class="mx-2 my-2 w-40 h-40 hover:bg-gray-200 text-center overflow-hidden">
        <div class="w-40 h-24" :class="{'pt-6': hasGenericIcon}">
            <font-awesome-icon v-if="isFolder" icon="folder" class="text-blue-600 block mx-auto" size="4x"/>               
            <img v-else-if="file.thumbnails.length" :src="file.thumbnails[0].small.url" class="border mx-auto"/>
            <font-awesome-icon v-else icon="file" class="block mx-auto text-gray-700" size="4x"/>
        </div>
        <div class="h-16 text-sm mt-2">
            <div>{{file.name}}</div>
            <div class="text-gray-600 text-xs">{{creationDate}}</div>
        </div>
    </button>
</template>

<script>
import {mapMutations} from 'vuex'

export default {
    name: 'FileItem',
    props: {
        file: Object
    },
    computed:{
        isFolder: function(){
            if( this.file ){
                return Boolean(this.file.folder)
            }
        },
        hasGenericIcon: function(){
            return this.isFolder || this.file.thumbnails.length === 0
        },
        creationDate: function(){
            let creationDate = new Date(this.file.createdDateTime)
            return creationDate.toLocaleDateString()
        }
    },
    mounted: function(){
        this.saveDirectory()
    },
    methods: {
        ...mapMutations(['SET_DIRECTORY']),
        navigate: function(){
            console.log(this.file)
            if( this.isFolder ){
                this.$router.push({
                    path: '/folder/' + this.file.id
                })
            }else{
                var win = window.open(this.file.webUrl, '_blank')
                win.focus()                
            }
        },
        saveDirectory: function(){
            this.SET_DIRECTORY(this.file.parentReference)
        }
    }
}
</script>