<template>
    <div class="px-3 py-2 border-b flex justify-between">
        <span>{{upload.name}}</span>
        <span class="ml-4 text-sm" :class="statusColor">{{upload.status}}</span>
    </div>
</template>

<script>
export default {
    name: 'UploadIndicator',
    props: {
        upload: Object
    },
    computed: {
        statusColor: function(){
            if( this.upload.status == 'Pending'){
                return "text-gray-600"
            }else if(this.upload.status == 'Creating Session'){
                return "text-blue-600"
            }else if(this.upload.status == 'Uploading File'){
                return "text-orange-600"
            }else{
                return "text-green-600"
            }
        }
    }
}
</script>