<template>
  <div>
    <nuxt />
  </div>
</template>

<style>
html,body{
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a{
  text-decoration: none;
}
.fa-sm{
width:14px !important;
height: 14px !important;
} 
.fa-4x{
width:40px !important;
height: 40px !important;
} 
</style>
