<template>
  <div class="pt-12">
      <div class="flex justify-between bg-gray-200 px-3 fixed top-0 w-full shadow">
        <div>
            <!-- NEW DROPDOWN-->
            <dropdown-menu
                v-model="newShow"
                :hover="false"
                :interactive="true"
                class="inline-block"
            >
                <button class="text-blue-700 px-3 py-3 hover:bg-gray-300 focus:bg-gray-400">
                    <font-awesome-icon icon="plus" size="sm"/>    
                    New
                </button>
                <div slot="dropdown" class="absolute bg-white shadow">
                    <a class="block px-2 py-2 hover:bg-gray-200" href="#">Folder</a>
                    <hr>
                    <a class="block px-2 py-2 hover:bg-gray-200" href="#">Word Document</a>
                    <a class="block px-2 py-2 hover:bg-gray-200" href="#">Excel Workbook</a>
                    <a class="block px-2 py-2 hover:bg-gray-200" href="#">PowerPoint Presentation</a>
                    <a class="block px-2 py-2 hover:bg-gray-200" href="#">OneNote Notebook</a>
                    <a class="block px-2 py-2 hover:bg-gray-200" href="#">Forms Survey</a>
                    <a class="block px-2 py-2 hover:bg-gray-200" href="#">Plain Text Document</a>
                </div>
            </dropdown-menu>


            <!--UPLOAD DROPDOWN-->
            <dropdown-menu
                v-model="uploadShow"
                :hover="false"
                :interactive="true"
                class="inline-block"
            >
                <button class="text-blue-700 px-3 py-3 hover:bg-gray-300 focus:bg-gray-400">
                    <font-awesome-icon icon="upload" size="sm"/>
                    Upload
                </button>
                <div slot="dropdown" class="absolute bg-white shadow">
                    <a @click="selectFiles()" class="block px-2 py-2 hover:bg-gray-200" href="#">Files</a>
                    <a class="block px-2 py-2 hover:bg-gray-200" href="#">Folders</a>
                </div>
            </dropdown-menu>
            
        </div>
        <div>
            <!-- SORT DROPDOWN-->
            <dropdown-menu
                v-model="sortShow"
                :hover="false"
                :interactive="true"
                class="inline-block"
            >
                <button class="text-blue-700 px-3 py-3 hover:bg-gray-300 focus:bg-gray-400">
                    <font-awesome-icon icon="sort-amount-down" size="sm"/>    
                    Sort
                </button>
                <div slot="dropdown" class="absolute bg-white shadow">
                    <a class="block px-2 py-2 hover:bg-gray-200" href="#">Name</a>
                    <a class="block px-2 py-2 hover:bg-gray-200" href="#">Modified</a>
                    <a class="block px-2 py-2 hover:bg-gray-200" href="#">Size</a>
                    <hr>
                    <a class="block px-2 py-2 hover:bg-gray-200" href="#">Ascending</a>
                    <a class="block px-2 py-2 hover:bg-gray-200" href="#">Decending</a>
                </div>
            </dropdown-menu>


            <button class="text-blue-700 px-3 py-3 hover:bg-gray-300 focus:bg-gray-400">
                <font-awesome-icon icon="border-all" size="sm"/>                
            </button>
            <button class="text-blue-700 px-3 py-3 hover:bg-gray-300 focus:bg-gray-400">
                <font-awesome-icon icon="info-circle" size="sm"/>  
            </button>
        </div>
      </div>

    <bread-crumb-container/>


    
    
    <div v-if="files.length" class="flex flex-wrap justify-start px-4">
        <file-item  v-for="file in files" :file="file" :key="file.id"></file-item>        
    </div>
    <div v-else class="text-center text-gray-600 text-lg">This folder is empty</div>

    <input id="upload" @change="uploadFiles($event)" type="file" multiple class="hidden" />
    <div v-if="uploads.length" class="upload-box bg-white rounded border shadow-lg fixed right-0 bottom-0 mr-2 mb-2">
            <upload-indicator v-for="upload in uploads" :upload="upload" :key="upload.name"></upload-indicator>
    </div>

  </div>
</template>

<script>
import {mapState, mapMutations} from 'vuex'
import DropdownMenu from '@innologica/vue-dropdown-menu'
import BreadCrumbContainer from '~/components/BreadCrumbContainer'
import FileItem from '~/components/FileItem'
import UploadIndicator from '~/components/UploadIndicator'

export default {
    components: {
        'file-item': FileItem,
        'bread-crumb-container': BreadCrumbContainer,
        'dropdown-menu': DropdownMenu,
        'upload-indicator': UploadIndicator
    },
    data: function(){
        return{ 
            files: [],
            uploads: [],
            newShow: false,
            uploadShow: false,
            sortShow: false
        }
    },
    computed: {
        ...mapState(['oneDriveTokens','currentDirectory'])
    },
    mounted: function(){
        this.load()
    },
    methods:{
        ...mapMutations(['ADD_TO_PATH']),
        load: function(){
            let id = this.$route.params.id
            let url = `https://graph.microsoft.com/v1.0/me/drive/items/${id}/children?$expand=thumbnails`
            let options = {
                headers:{
                    authorization: `Bearer ${this.oneDriveTokens.access_token}`
                }
            }
            this.$axios.get(url,options)
            .then((response)=>{
                console.log(response.data)
                this.files = response.data.value 
            })
            .catch((e)=>{
                console.log(e)
            })
        },
        selectFiles: function(){
            var input = document.getElementById('upload').click()
        },
        uploadFiles: function(e){            
            const files = e.target.files  
            this.uploads = []
            for( let i = 0 ; i < files.length ; i++){
                let file = files[i]                
                let obj = {
                    name: file.name,
                    size: file.size,
                    status: "Pending"
                }
                this.uploads.push(obj)   
                 setTimeout(() => {
                    this.uploadFile(file) 
                }, 300)
                        
            }

        },
        uploadFile: async function(file, index){
            const folderId = this.currentDirectory.id
            const baseUrl = `https://graph.microsoft.com/v1.0/me/drive/items/${folderId}:/`
            let fileName = file.name
            let size = file.size
            let range = size-1
            let fileNameEncoded = encodeURIComponent(fileName)
            let sessionUrl = `${baseUrl}${fileNameEncoded}:/createUploadSession`
            let data = {
                        "@microsoft.graph.conflictBehavior": "rename",
                        "description": "description",
                        "fileSystemInfo": { "@odata.type": "microsoft.graph.fileSystemInfo" },
                        "name": fileName
                    }                        
            const options = {
                headers:{
                    'authorization': `Bearer ${this.oneDriveTokens.access_token}`,
                    'Content-Range': `bytes 0-${range}/${size}`
                }
            }
            try{
                //Create upload session
                this.updateUploadIndicator(fileName, "Creating Session")
                let sessionResponse = await this.$axios.post(sessionUrl, data, options)
                let uploadUrl = sessionResponse.data.uploadUrl 

                //Upload File
                this.updateUploadIndicator(fileName, "Uploading File")
                let uploadResponse =  await this.$axios.put(uploadUrl, file) 
                let obj = {
                    name: fileName,
                    url: uploadResponse
                }                
                this.files.push(uploadResponse.data)                 
                this.updateUploadIndicator(fileName, "Finished")
                this.updateUploadIndicator(fileName, 'remove')                       
            }catch(e){
                console.log(e)
                this.uploads[index].status = "Error"  
            }
        },
        updateUploadIndicator: function(fileName, status){  
            if( status == 'remove'){
                setTimeout(() => {
                    let index = this.uploads.findIndex((upload)=>{
                        return upload.name == fileName
                    })
                    this.uploads.splice(index,1)
                    if( this.uploads.length == 0){
                        this.load()
                    }
                }, 3000);                    
            }else{   
                let index = this.uploads.findIndex((upload)=>{
                    return upload.name == fileName
                })
                this.uploads[index].status = status
            }           
            
        }
    }
}
</script>

<style>

.upload-box{
    max-height: 200px;
    overflow-y: auto;
}


</style>
