<template>
  <div class="container">


  </div>
</template>

<script>
import {mapState} from 'vuex'


export default {
  data: function(){
    return{
      response: null
    }
  },
  computed: {
    ...mapState(['oneDrive'])
  },
  mounted: function(){
    this.getAccessToken()
  },
  methods: {
    getAccessToken: function(){
      var self = this
      let code = this.$route.query.code
      let url = `/api/token?code=${code}`
      this.$axios.get(url)
        .then((response)=>{
          console.log(response)
          self.response = response
        })
        .catch((e)=>{
          console.log(e)
        })
        .finally(()=>{
          //Reloading page forces new token to be saved to store
          window.location.href = window.location.origin + '/folder/root'
        })
    }
  }
}
</script>

<style>

</style>
