<template>
  <div class="container">
    <button @click="authorize()">Authorize With One Drive</button>
  </div>
</template>

<script>
import {mapState} from 'vuex'

export default {
  data: function(){
    return{ 
    }
  },
  computed: {
    ...mapState(['oneDrive','oneDriveTokens'])
  },
  methods: {
    authorize: function(){
      let {authUri, clientID, scope, responseType, redirectUri} = this.oneDrive
      let url = `${authUri}?client_id=${clientID}&scope=${scope}&response_type=${responseType}&redirect_uri=${redirectUri}`
      window.location.href = url
      // var oauth_window = window.open(url,'oneDriveAuth','location=0,status=0,width=800,height=600')
      // window.onbeforeunload = function(event) { 
      //   oauth_window.close()
      // }
    }
  }
}
</script>

<style>

</style>
